/*Navigation*/
#nav{
	background-color:#d1e2ff; 
	margin: 0 0 0 0;
	height:80px;
}
#nav h1{
	display:inline-block;
	padding: 15px;
	margin:0 0 0 0;
}
#menu{
	float:right;
	margin:0 0 0 0;
}
#menu li{
	display:inline-block;
	line-height:50px;
	padding: 15px;
	margin:0 0 0 0;
}
#menu li a{
	line-height:50px;
	width:100%;
}
#menu li:hover{
	background-color:#51FFF6;
	color:#000000;
}
#dropBtn{
	float:right;
	line-height:70px;
	margin-right:10px;
}
#dropBtn img{
	height:50px;
	width:50px;
}
.hide{
	display:none;
}
.show{
	display:inline-block;
}
/*Home Page Content*/
#content{
	width:80%;
	max-width:1000px;
	height: 100%;
	margin:auto;
}
#content h2{
	padding:15px;
}
#content p{
	width:100%;
}
.contentImg1{
	width:30%;
	padding-right:15px;
}
/*tables*/
#table{
    border-collapse: collapse;
	width: 100%;
	margin-top: 25px;
}

#table td, #table th {
    border: 1px solid rgb(221, 221, 221);
    padding: 8px;
}
.settingsTable td, .settingsTable th {
    border-bottom: 1px solid rgb(221, 221, 221) !important;
    padding: 8px !important;
}
#table tr:nth-child(even){background-color: #f2f2f2;}
.settingsTable tr:nth-child(even){background-color: #f2f2f2;}
#table tr:hover {background-color: #ddd;}
#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #d1e2ff;
	color: #000000;
}
#contactsTable{
    border-collapse: collapse;
	width: 100%;
	margin-top: 25px;
	font-size: 12px;
}
#contactsTable td, #contactsTable th {
    border: 1px solid rgb(221, 221, 221);
	padding: 5px;
	max-width: 150px;
	text-align: center;
}
#contactsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #d1e2ff;
	color: #000000;
}
#postalCalcTable tr{
	height: 35px;
}
/*Columns*/
.col1{
	width: 2%;
}
.col2{
	width: 8%;
}
.col3{
	width: 16%;
}
/*Scanner - Home*/
#camera{
	background-color: beige;
	width: 60%;
	height: 350px;
	margin: auto;
	margin-top: 15px;
}
/*Login*/
.nav{
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	min-width: 325px;
}
.tab-content{
	margin-left: auto;
	margin-right: auto;
	border: solid #ddd 1px;
	border-top: 0px transparent;
	padding: 15px;
	max-width: 400px;
	min-width: 325px;
}
/*Scanner - Settings*/
.logout{
    background-color: rgb(0, 204, 255);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
	display: inline-block;
	margin: auto;
	font-size: 16px;
	bottom: 15px;
	width:175px;
}
#settingsForm{
	width:100%;
	text-align: center;
	margin-top:25px;
}
/*Scanner - Contacts*/
#modifyBtns{
	width:150px;
	position: fixed;
	bottom: 25px;
}
#bread{
	width:80%;
	margin:auto;
	max-width: 1000px;
	line-height:35px;
	height:35px;
}
/*Mobile Devices*/
@media (max-width: 700px) {
    #menu{
		margin-top:80px;
		width:100%;
		background:white;
		z-index:9999;
		position:absolute;
	}
	#menu li{
		width:100%;
	}
	#nav{
		position:fixed;
		width:100%;
	}
	#content{
		padding-top:100px;
		width:95%;
		
	}
	.hide{
		display:none;
	}
	.show{
		display:inline-block;
	}
}