<% include ../partials/header.ejs %>
<meta name="description" content="Assignments can be found here.">
<title>Assignments</title>
</head>
<body>

<% include ../partials/nav.ejs %>
<div id="content">
  <h2>Assignments</h2>
  <table id="table">
    <tr>
        <th>Assignment</th>
        <th>Week</th>
    </tr>
    <tr>
        <td><a href="/postalCalc">Postal Rates Calculator</a></td>
        <td>Week 09</td>
    </tr>
    </table>
</div>
<% include ../partials/footer.ejs %>