<% include ../partials/header.ejs %>
<meta name="description" content="LEADer is a leads app specifically for trade shows or areas with little to no internet. The main appeal is that it is still a web applicaiton while being useful offline.">
<title>LEADer - Home</title>
</head>
<body>

<% include ../partials/nav.ejs %>
<div id="content">
  <h2>Login</h2>
</div>
<% include ../partials/footer.ejs %>