<div id="nav">
	<h1>Loren's App</h1>
	<ul id="menu" class="show">
		<a href="/"><li>Home</li></a>
		<a href="/assignments"><li>Assignments</li></a>
		<a href="https://github.com/MillerLoren/cs313-node"><li>GitHub</li></a>
		<a href=""><li>Main Page</li></a>
	</ul>
	<a onclick="menu()" class="hide" id="dropBtn"><img src="/images/menu.png"/></a>
</div>